# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppType node
PassengerStartupFile server.js
PassengerBaseURI /crm
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# DO NOT REMOVE OR MODIFY. CLOUDLINUX PASSENGER CONFIGURATION RULES BEGIN
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteCond %{REQUEST_URI} ^/crm [NC]
RewriteRule ^ - [L]
# DO NOT REMOVE OR MODIFY. CLOUDLINUX PASSENGER CONFIGURATION RULES END
